# Protected configurations (last for the whole run and can't be changed remotely)

log_level = debug
mongo_collection = siaas
&mongo_db = siaas
mongo_host = 127.0.0.1
mongo_port = 27017
mongo_pwd = siaas
mongo_user = siaas

# Runtime configurations (can be changed during runtime by the remote server)

platform_loop_interval_sec = 60
